#nav{
	height: 2.5rem;
	width: 100%;
	display: flex;
	display: -webkit-flex;	
	flex-direction: row;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-top: 1px solid #aeaeae;		
}
#nav .icon{
	flex: 1;
	-webkit-flex: 1;
	height: 100%;
	font-size:0.6rem ;
	color:#969696;
}
#nav .icon p{
	width: 100%;
	text-align: center;
	height: 1rem;
	line-height: 1rem;
}
#nav .icon span{
	display: block;
	height: 1.5rem;
	width: 100%;
	text-align: center;
	line-height: 1.5rem;
	font-size: 1.2rem;
}
#nav .cur{
	color:#ffc107;
}










