/*--------------------------html , body--------------------------*/
html , body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/*-------------------header---------------------------------*/
.header{
	width: 100%;
	height: 7.9rem;
	background: url(../images/csx-bg.jpg) no-repeat;
	background-size:100% 100%;
	display: none;
}
.header .header-top{
	width: 100%;
	height: 3.2rem;
	position: relative;
}
.header .header-top i{
	color: #fff;
}
/*--------<-----------*/
.header .header-top .icon1{
	width: 1.2rem;
	height: 1.2rem;
	position: absolute;
	left: 0.5rem;
	top: 1rem;
}
.header .header-top .icon1 i.i1{
	font-size: 1.2rem;
}
/*--------心形-----------*/
.header .header-top .icon2{
	width: 1.2rem;
	height: 1.2rem;
	position: absolute;
	left: 12rem;
	top: 1rem;
}
.header .header-top .icon2 i.i2{
	font-size: 1.2rem;
}
/*--------省略号-----------*/
.header .header-top .icon3{
	width: 1.2rem;
	height: 1.2rem;
	position: absolute;
	left: 14rem;
	top: 1rem;
}
.header .header-top .icon3 i.i3{
	font-size: 1.2rem;
}
.header .header-logo{
	width: 100%;
	height: 3.4rem;
}
.header .header-logo-left{
	width: 2.85rem;
	height: 2.85rem;
	margin-left: 0.9rem;
	margin-right: 0.5rem;
	float: left;
}
.header .header-logo-left img{
	display: block;
	width: 2.85rem;
	height: 2.85rem;
}
.header .header-logo-right{
	float: left;
}
.header .header-logo-right p.name{
	font-size: 0.75rem;
	color: #fff;
	font-weight: bold;
	line-height: 1.2rem;
}
.header .header-logo-right p.peisong{
	font-size: 0.55rem;
	color: #fff;
	line-height: 1rem;
}
.header .header-logo-right p.peisong span{
	font-size: 0.4rem;
	color: #fff;
}
.header .header-logo-right p.jian{
	font-size: 0.5rem;
	color: #fff;
	line-height: 1rem;
}
.header .header-logo-right p.jian span{
	display: inline-block;
	width:0.7rem;
	height: 0.7rem;
	background: #f07373;
	border-radius: 0.12rem;
	font-size: 0.4rem;
	color: #fff;
	text-align: center;
	line-height: 0.7rem;
}
.header .header-gonggao{
	width: 16rem;
	height: 1.35rem;
	margin-left: 0.4rem;
	position: relative;
	line-height: 1.35rem;
	padding-left: 0.2rem;
}
.header .header-gonggao span.gonggao{
	display: inline-block;
	width: 1.25rem;
	height: 0.7rem;
	background: #e7dfe2;
	border-radius: 0.1rem;
	font-size: 0.5rem;
	color: #666;
	text-align: center;
	line-height: 0.7rem;
	margin-right: 0.27rem;
}
.header .header-gonggao .icon4{
	width: 1rem;
	height: 1rem;
	position: absolute;
	left: 14rem;
	top: 0.1rem;
}
.header .header-gonggao .icon4 .i4{
	font-size: 0.8rem;
	color: #d0c1c5;
}

/*-------------------partheader---------------------------------*/
.partheader{
	width: 100%;
	height: 3.2rem;
	display: flex;
	background: url(../images/csx-bg1.jpg) no-repeat;
	background-size: 100%;
}
.partheader i{
	color: #fff;
}
/*--------<-----------*/
.partheader .icon1{
	width: 1.2rem;
	height: 3.2rem;
	text-align: center;
	margin-left: 0.5rem;
}
.partheader .icon1 i.i1{
	font-size: 1.2rem;
	line-height: 3.2rem;
}
/*--------心形-----------*/
.partheader .icon2{
	width: 1.2rem;
	height: 3.2rem;
	text-align: center;
	margin-right: 0.5rem;
}
.partheader .icon2 i.i2{
	font-size: 1.2rem;
	line-height: 3.2rem;
}
/*--------省略号-----------*/
.partheader .icon3{
	width: 1.2rem;
	height: 3.2rem;
	margin-right: 1rem;
}
.partheader .icon3 i.i3{
	font-size: 1.2rem;
	line-height: 3.2rem;
}
.partheader p.name{
	flex: 1;
	text-align: center;
	font-size: 0.9rem;
	color: #fff;
	font-weight: bold;
	line-height: 3.2rem;
}

/*--------------------------sort------------------------------------*/
.sort{
	width:100%;
	height: 2rem;
	display: flex;
	border-bottom: 1px solid #d9d9d9;
}
.sort .shangpin{
	flex: 1;
	overflow: hidden;
}
.sort .shangpin span{
	display: block;
	width: 100%;
	height: 2rem;
	font-size: 0.6rem;
	text-align: center;
	line-height: 2rem;
	position: relative;
	color: #3190e8;
	border-radius:0.1rem;
}
.sort .shangpin span .gao_i {
	position: absolute;
	bottom: 0.3rem;
	left: 50%;
	margin-left: -0.6rem;
	width: 1.2rem;
	border-bottom:3px solid #3190e8;
}
.sort .shangjia{
	flex: 1;
	overflow: hidden;
}
.sort .shangjia span{
	display: block;
	width: 100%;
	height: 2rem;
	font-size: 0.6rem;
	text-align: center;
	line-height: 2rem;
	border-bottom: 0;
	color: #363636;
	border-radius: 0;
}
/*--------------------------tab_shangjia-----------------------------------*/

.tab-shangjiarr {
	width: 100%;
	position: relative;
	overflow: hidden;
	background: #eee;
}
.tab-shangjiarr .tab-shangjia{
	width: 100%;	
	position: absolute;
	background: #eee;
}
/*----------------------------blank---------------------------*/
.blank{
	display:block;
	width: 100%;
	height:0.52rem;
}
/*----------------------------blank2---------------------------*/
.blank2{
	display:block;
	width: 100%;
	height:1rem;
}
/*----------------------------shangjiapingjia---------------------------*/
.pingjia{
	height: 9.85rem;
	padding:0 0.75rem;
	background: #fff;
	font-size: 0.75rem;
}
.pingjia .pingjia-title{
	width: 100%;
	height: 2.25rem;
	border-bottom: 1px solid #eee;
	line-height: 2.25rem;
	font-weight: bold;
}
.pingjia .pingjia-content{
	width: 100%;
	height:4.65rem;
	border-bottom: 1px solid #eee;
	padding-top: 0.75rem;
}
.pingjia .pingjia-content .pingjia-content-touxiang{
	float: left;
	width: 1.7rem;
	background: lightcoral;
}
.pingjia .pingjia-content .pingjia-content-touxiang img{
	display: block;
	width: 1.7rem;
	height: 1.7rem;
}
.pingjia .pingjia-content .pingjia-content-right{
	float: left;
	width: 12.27rem;
	padding-left: 0.5rem;
}
.pingjia .pingjia-content .pingjia-content-right .pingjia-content-right-name{
	height: 0.7rem;
	width: 12.27rem;
}
.pingjia .pingjia-content .pingjia-content-right .pingjia-content-right-name .nameid{
	float: left;
}
.pingjia .pingjia-content .pingjia-content-right .pingjia-content-right-name .nametime{
	float: right;
}
.pingjia .pingjia-content .pingjia-content-right .pingjia-content-right-pingjia .xing{
	width: 12.27rem;
	height: 1.7rem;
}
.pingjia .pingjia-content .pingjia-content-right .pingjia-content-right-pingjia .xing span{
	font-size: 0.5rem;
	color: #999;
}
.pingjia .pingjia-content .pingjia-content-right .pingjia-content-right-pingjia p{
	font-size: 0.65rem;
	height: 1.6rem;
	line-height: 0.8rem;
}
.pingjia .pingjia-more{
	width:100%;
	height:2.1rem;
	font-size: 0.625rem;
	color:#a4a4a4;
	line-height:2.1rem;
	text-align: center;
}
.pingjia .pingjia-more .icon5 .i5{
	font-size: 0.8rem;
}

/*----------------------------activity---------------------------*/
.activity{
	height: 6.7rem;
	padding:0 0.75rem;
	background: #fff;
}
.activity .activity-title{
	width: 100%;
	height: 2.25rem;
	border-bottom: 1px solid #eee;
	font-size: 0.75rem;
	line-height: 2.25rem;
	font-weight: bold;
}
.activity .activity-content{
	width: 100%;
	height: 4.3rem;
}
.activity .activity-content .activity-content-jian{
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	font-size: 0.625rem;
	color: #666;
}
.activity .activity-content .activity-content-jian span.jian{
	display: inline-block;
	width:0.75rem;
	height: 0.75rem;
	background: #f07373;
	border-radius: 0.12rem;
	font-size: 0.4rem;
	color: #fff;
	text-align: center;
	line-height: 0.7rem;
}
.activity .activity-content .activity-content-piao{
	width: 100%;
	height: 2.47rem;
	line-height: 1.2rem;
	font-size: 0.625rem;
	color: #666;
}
.activity .activity-content .activity-content-piao span.piao{
	display: inline-block;
	width:0.75rem;
	height: 0.75rem;
	border:1px solid #999;
	border-radius: 0.12rem;
	font-size: 0.4rem;
	color: #999;
	text-align: center;
	line-height: 0.7rem;
}

/*----------------------------shijing---------------------------*/
.shijing{
	height: 6.7rem;
	padding:0 0.75rem;
	background: #fff;
}
.shijing .shijing-title{
	width: 100%;
	height: 2.25rem;
	border-bottom: 1px solid #eee;
	font-size: 0.75rem;
	line-height: 2.25rem;
	font-weight: bold;
}
.shijing .shijing-img{
	width: 100%;
	height: 4.05rem;
	padding-top: 0.4rem;
}
.shijing .shijing-img img{
	display:inline-block;
	width: 3.55rem;
	height: 3.55rem;
}

/*----------------------------information---------------------------*/
.information{
	height: 100%;
	padding:0 0.75rem;
	background: #fff;
}
.information p{
	width: 100%;
	height: 2.25rem;
	border-bottom: 1px solid #eee;
	font-size: 0.6rem;
	line-height: 2.25rem;
	color: #7d7d7d;
	position: relative;
}
.information p.information-title{
	width: 100%;
	height: 2.25rem;
	border-bottom: 1px solid #eee;
	font-size: 0.75rem;
	line-height: 2.25rem;
	font-weight: bold;
	color: #333;
}
.information p .icon6{
	position: absolute;
	top: 0;
	right:0 ;
}
.information p .icon6 .i6{
	font-size: 0.8rem;
}

/*----------------------------shangpin-list---------------------------*/
.gao_flex {
	display: flex;
}
.shangpin-list{
	flex: 1;
	height: 100%;
	position: relative;
}
.shangpin-list ul{
	width: 100%;
	position: absolute;
}
.shangpin-list ul li{
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #eaeaea;
	background: #f9f9f9;
	color: #6d6d6d;
	font-size: 0.625rem;
	text-align: center;
	padding: 1.5rem 0.5rem;
}
/*----------------------------shangpin-content--------------------------*/
.shangpin-content{
	flex: 3;
	height: 100%;
	position: relative;
}
.shangpin-content ul{
	width: 100%;
	position: absolute;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.shangpin-content ul .shangpin-content-list{
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.shangpin-content ul .shangpin-content-list .shangpin-content-title{
	width: 100%;
	height:1.3rem;
	background: #f9f9f9;
	border-left: 0.15rem solid #eee;
	line-height: 1.3rem;
	text-indent: 0.9rem;
	overflow: hidden;
}
.shangpin-content ul .shangpin-content-list .shangpin-content-title .content-title{
	font-size: 0.625rem;
	color: #666;
}
.shangpin-content ul .shangpin-content-list .shangpin-content-title .content-detail{
	font-size: 0.5rem;
	color: #9d9d9d;
	margin-left: 0.5rem;
}

.shangpin-content ul .shangpin-content-list dl{
	width: 100%;
	height: 4.25rem;
	display: flex;
	border-bottom: 1px solid #f9f9f9;
	position: relative;
	overflow: hidden;
}
.shangpin-content ul .shangpin-content-list dl dt{
	width: 3rem;
	height: 2.85rem;
	padding: 0.5rem;
}
.shangpin-content ul .shangpin-content-list dl dt img{
	display: block;
	width: 2.85rem;
	height: 2.85rem;
}
.shangpin-content ul .shangpin-content-list dl dd.p{
	width: 100%;
	height: 3rem;
	font-size: 0.65rem;
	padding: 0.4rem;
}
.shangpin-content ul .shangpin-content-list dl dd.p p:nth-of-type(2) {
	font-size: 0.4rem;
	color: #666;
	line-height: 1rem;
}
.shangpin-content ul .shangpin-content-list dl dd.p p:nth-of-type(3) {
	color: red;
	font-size: 0.8rem;
	line-height: 1.3rem;
}
.shangpin-content ul .shangpin-content-list dl dd.p p:nth-of-type(3) span {
	font-size: 0.01rem;
}
.shangpin-content ul .shangpin-content-list dl dd.btn{
	height: 1.1rem;
	display: flex;
	border-radius: 50%;
	position: absolute;
	right: 1rem;
	bottom: 0.8rem;
	z-index: 333;
}
.shangpin-content ul .shangpin-content-list dl dd.btn span{
	display:block;
	width: 1.1rem;
	height: 1.1rem;
}
.shangpin-content ul .shangpin-content-list dl dd.btn .gao_jian {
	font-size: 1.1rem;
	color: #3190e8;
	opacity: 0;
}
.shangpin-content ul .shangpin-content-list dl dd.btn .gao_jia {
	font-size: 1.3rem;
	margin-left: -0.2rem;
	color: #3190e8;
}
.shangpin-content ul .shangpin-content-list dl dd.btn .gao_shul {
	width: 1.2rem;
	text-align: center;
	margin: 0.2rem 0;
	color: #7a7a7a;
	font-size: 0.7rem;
	opacity: 0;
}

/*小球运动*/
.u-flyer {
	width: 1.1rem;
	height: 1.1rem;
	border-radius: 50%;
	z-index: 888;
}


/*按钮css3*/
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(200%, 0, 0);
    transform: translate3d(200%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(200%, 0, 0);
    transform: translate3d(200%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.ani {
	transition: all 1s;
	animation: fadeInRight 0.1s linear both;
}


@-webkit-keyframes GfadeInRight {
  0% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(200%, 0, 0);
    transform: translate3d(200%, 0, 0);
  }
}

@keyframes GfadeInRight {
  0% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(200%, 0, 0);
    transform: translate3d(200%, 0, 0);
  }
}

.Gani {
	transition: all 1s;
	animation: GfadeInRight 0.1s linear both;
	z-index: -1;
}


























